[submodule "conduit"]
	path = conduit
	url = https://github.com/functionalperez/conduit
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
